
@font-face {
    font-family: 'Minecraft Ten';
    font-style: normal;
    font-weight: normal;
    src: local('Minecraft Ten'), url('MinecraftTen-VGORe.woff') format('woff');
    }

    h1 {
        font-family: 'Minecraft Ten';
        font-weight: 100;
        color: #0ccac4;
    }